/* Global Styles */


h1 {
  margin-bottom: 30px;
  font-size: 2em;
}

/* Search Bar and Specialization Filter */
.search-bar, .specialization-filter {
  padding: 8px;
  margin: 10px 0;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

.search-bar::placeholder, .specialization-filter::placeholder {
  color: #bbb;
}

.search-bar, .specialization-filter {
  display: inline-block;
}

/* Doctor List and Cards */
.doctor-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.doctor-card {
  border: 1px solid #ddd;
  padding: 20px;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  background-color: #716f6f;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doctor-card h2 {
  color:rgb(0, 0, 0);
  margin-top: 0;
  font-size: 1.3em;
}

.doctor-card p {
  
  margin: 5px 0;
  color: #000000;
}

/* Book Appointment Button */
.book-appointment-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.book-appointment-btn:hover {
  background-color: #0056b3;
}

/* Specialization Filter */
.specialization-filter {
  padding: 8px;
  margin: 10px 0;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

/* Styling for Empty Search */

