.manage-user-container {
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.7); /* Dark background with transparency */
  backdrop-filter: blur(10px); /* Blurry background effect */
  border-radius: 15px;
  max-width: 1200px;
  margin: 20px auto; /* Keeps container centered but not overly wide */
  box-shadow: 0 4px 10px rgb(255, 255, 255);
  color: white; /* Ensure text is visible */
  display:flex;
  align-items: normal;
}

.manage-user-heading {
  display:flex;
  justify-content: center;
  color: rgb(255, 145, 0); /* Yellow text for headings */
  font-size: 3rem; /* Larger font size for the main heading */
  font-weight: bold; /* Make the main heading bold */
  margin-bottom: 30px;
  padding-left: 20px;

}

.manage-user-message {
  
  color: rgb(255, 119, 0);
  margin-bottom: 20px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.search-bar-input {
  width: 60%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #555;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding-left: 15px;
}

.specialization-dropdown {
  width: 60%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #555;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding-left: 15px;
}

.no-doctors-message {
  font-size: 1.5rem;
  color: #ccc;
  padding-left: 20px;
}

.doctor-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 20px;
}

.doctor-card-item {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  transition: transform 0.3s ease;
  margin-right: 10px; /* Adds spacing between cards */
}

.doctor-card-item:hover {
  transform: scale(1.05);
}

.doctor-card-title {
  font-size: 1.8rem; /* Slightly larger title font */
  color: rgb(255, 153, 0);
  margin-bottom: 10px;
}

.doctor-card-info {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.book-appointment-button {
  display: inline-block;
  background-color: rgb(255, 136, 0);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 15px;
}

.book-appointment-button:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}
